<header>
  <nav>
    <a href="/">About</a>
    <a href="/#contact">Contact</a>
    <a href="/tokens">Tokens</a>
  </nav>
</header>

<style>
  header {
    height: var(--header-height);
    display: flex;
    justify-content: end;
    align-items: center;
    margin-inline: var(--space-6);
    padding-inline: var(--space-1);
  }

  @media (min-width: 35em) {
    header {
      margin-inline: var(--space-10);
      padding-inline: var(--space-1);
    }
  }

  @media (min-width: 65em) {
    header {
      min-width: 30rem;
      max-width: 60rem;
      margin-inline: auto;
      padding-inline: var(--space-2);
    }
  }

  nav {
    display: flex;
    gap: var(--space-3);
  }
</style>