<main>
  <section class="section">
    <!-- About -->
    <h1>Marcell Kiss</h1>
    <h2>Designing digital experiences</h2>

    <p>Software developer with more than 10 years of experience in developing frontend applications and custom software systems.</p>
    <p>Interested in</p>
    <ul>
      <li>2D/3D graphics</li>
      <li>UI/UX design</li>
      <li>working with LLMs</li>
      <li>human-computer interaction</li>
    </ul>
  </section>

  <section class="section">
    <h2>Projects</h2>
    <a href="https://github.com/xmlui-org/xmlui">xmlui</a>
  </section>

  <section class="section">
    <h2>Contact</h2>
    <a href="kiss.marcell.tamas@gmail.com">email</a>
    <a href="github.com/marcello-tk">github</a>
    <a href="www.linkedin.com/in/marcell-kiss-24924b132">linkedin</a>
  </section>
</main>

<style>
  .section {
    padding-inline: var(--space-6);
  }

  @media (min-width: 35em) {
    .section {
      padding-inline: var(--space-10);
    }
  }

  @media (min-width: 65em) {
    .section {
      min-width: 30rem;
      max-width: 60rem;
      margin-inline: auto;
    }
  }
</style>
